<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org" th:replace="base::Layout(~{::section})">

<head>
	<meta charset="UTF-8" />
	<title>Changes password form</title>
	<!-- Include Bootstrap CSS -->
	<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
	<section>
		<div id="login">
			<div class="container">
				<div id="login-row" class="row justify-content-center align-items-center">
					<div id="login-column" class="col-md-6">
						<div id="login-box" class="col-md-12 p-4" style="height: auto;">
							<!-- email form -->
							<h3 class="mt-3">Enter new password</h3>
                             
                             
							<form method="post" action="" th:action="@{/change-password}">
								<div class="form-group">
									<input name="newpassword" required="required" type="password" placeholder="Enter new password here" class="form-control" />
								</div>
								<div class="container text-center mt-3">
									<button class="btn btn-primary">Changes Password</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>

</html>
